@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /* background-color: #FFFCF2; */
    background-color: #CCC5B9;
    font-family: "Roboto Condensed";
    /* font-family: "Big Shoulders Display"; */
}

nav {
    background-color: #EB5E28;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    /* flex-wrap: wrap; */
}

.name {
    height: 50px;
    margin-left: 10px ;
    padding-top: 7px;
    width: 100vh;
}

.name a {
    font-family: "Big Shoulders Display";
    color: #252422;
    text-decoration: none;
    font-size: 40px;
    height: 50px;
    margin: 5px;
    margin-top: 8px;
}

.menu-button {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45px;
    height: 40px;
    padding: 8px;
    border-radius: 7px;
    background: #252422;
    cursor: pointer;
    float: right;
    /* margin: 10px; */
    

}

.menu-button span {
    width: 36px;
    height: 3px;
    background: #CCC5B9;

}

.menu-toggle {
    display: none;

}

.toggle {
    display: none;
    text-align: center;
    background: rgba(37, 36, 34, 0.98);
    /* border-radius: 7px; */
    padding: 10px;
    width: 100%;
    height: 100vh;
    margin: 60px auto;
    transition: all .5s;

}

.toggle li {
    list-style: none;
    display: block;
    /* padding: 10px 0; */
    margin: 80px 0;
    color: #fafafa;

}

.menu-toggle:checked + .toggle {
    display:block;


}

.menu {
    width: 100%;
    /* margin: 7px; */
    position: fixed;
}

.toggle li a {
    color: #CCC5B9;
    text-decoration: none;
    font-size: 40px;
}


.logos-main {
    background-color: #FFFCF2;
    display: flex;
    flex-direction: row;
    /* width: 100vh; */
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #FFFCF2; */
    border-radius: 7px;

    
}

.logo {
    width: 40%;
    height: auto;
    margin: 5%;
}

.logo img {
    width: 100px;
    height: 52px;
}

header {
    width: 100%;
}

header img {
    /* padding: 10px; */
    max-width: 100%;
    height: auto;
    /* border-radius: 17px; */

}

header h2 {
    font-size: 30px;
    padding: 2% 10% 2% 10%;
    text-align: center;
    color: #403D39;
    margin: 10px;
    /* background-color: #CCC5B9; */
    border-radius: 7px;
    background-color: #FFFCF2;


}

h2 span, h3 span {
    color: #EB5E28;
}

a span {
    color: #FFFCF2;
}

.section-marcas {
    /* background-color: #FFFCF2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 15px auto; */
    margin: 15px 10px;
    border-radius: 7px;
    padding: 10px;
    min-height: 250px;
    text-align: center;

}

.section-marcas h3, .reparto h3, .clientes-main h3 {
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    color: #403D39;
    margin-bottom: 5px;
}

.logo img:hover {
    cursor: pointer;
    /* width: 95px;
    height: 47px;
    transition: all 0.5s; */
}

.reparto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 10px;
    min-height: 250px;
    border-bottom: #252422 1px solid;
    border-top: #252422 1px solid;
}

.reparto h3 {
    margin-top: 30px;
}

iframe {
    width: 100%;
    margin-bottom: 5px;
}

.mapa-reparto {
    text-align: center;
    margin-bottom: 20px;
}

.clientes-main {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    text-align: center;
}

.cuenta-clientes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h5 {
    font-size: 20px;
    color: #403D39;
}

.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    margin-top: 25px;
    min-height: 150px;
    justify-content: space-between;
    border-bottom: #252422 1px solid;

}

.presentacion p {
    margin-top: 15px;
    font-size: 20px;
    color: #403D39;
}

.catalogo button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    background-color: #EB5E28;
    border-radius: 25px;
    border: none;
}

.catalogo button:hover {
    cursor: pointer;
}

.catalogo button a {
    font-size: 17px;
    text-decoration: none;
    color: #FFFCF2;
    font-family: "Roboto Condensed";
}


.nuevo-cliente {
    /* padding-left: 25px; */
    border-left: #252422 1px solid;
    width: 50%;
    min-height: 100px;
}

.registrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 20px;
    padding-left: 15px; */
    text-align: center;
    width: 50%;
}

.cuenta-clientes button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #EB5E28;

}

.cuenta-clientes button:hover {
    cursor: pointer;
}

.cuenta-clientes button a {
    text-decoration: none;
    font-size: 15px;
    color: #FFFCF2;
    font-family: "Roboto Condensed";

}

.mapa-reparto a {
    text-decoration: none;
    color: #403D39;
}

.ciudades-reparto {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    width: 80%;
    font-size: 20px;
    color: #403D39;
}

.contacto {
    text-align: center;
    min-height: 150px;
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 4.5%; */
}

.contacto h3 {
    margin-bottom: 30px;
}

.final {
    display: flex;
    height: 30px;
    background-color: #252422;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.final h6 {
    color: #FFFCF2;
}

.final h6 a {
    text-decoration: none;
    color: #EB5E28;
    font-family: "Roboto Condensed";

}

/* ● • */